
.cards{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: nowrap ;
    overflow: auto;
    height: 650px

}
.content{
    display: none;
    text-align: center;
}
.sickness{
    width: 80px;
}
.card {
    background-color: white;
    margin: 12px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    transition: width 0.6s ease; 
}
.cards .card:hover{
    border-radius: 12px;
    width: 400px;
    height: 500px;
}
.cards .card:hover .content{
    display: block;
}
.cards .card:hover .sickness{
    display: none;
}