@keyframes slideOut {
  0% {
      opacity: 1;
      transform: translateX(0); 
  }
  100% {
      opacity: 0;
      transform: translateX(-20px); 
  }
}
.main{
    z-index: 1;
    height: 600px;
}
.hero-img{
    position: absolute;
    width: 100%;    
    filter: blur(2px);
}
.container h1{
  font-size: 21px;
  margin-left: 12px;
  stroke: black;
  stroke-width: 12px;
  text-align: center;
  height: 24px;
  color: white;

}
.container{
    background-color: #17cae5;
   
    width: 400px;
    height: 40px;
    border-radius: 12px;
    top: 60px;
    left: 60px;
    position: relative;
    display: flex;
    z-index: 2;
    transition: height 0.5s,opacity 2s ease; 
   
}
.container:hover h1{
  animation: slideOut 0.5s ease forwards;
}
.container:hover {
  width: 400px;
  height: 250px;
  border-radius: 12px;
}
.flex-box{
    display: flex;
    top: 100%;
}
.container1{
    z-index: 10;
    width : 315px;
    padding : 20px;
    border :5px solid rgb(103, 153, 207);
    border-radius : 10px;
    text-align : center;
    margin: 50px;
    justify-content: space-between;
    height: 57vh;
    background-color: gray;
}

 .container1 h1 {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
  }

  .head-paragraph1 {
    font-weight: bold;
    font-size: 20px;
  }

  .head-paragraph2 {
    font-weight: bold;
  }

  .head-paragraph3 {
    font-weight: bold;
  }

  .button {
    background-color: rgb(108, 108, 219);
  }

  footer{
    background-color: rgb(59, 27, 126);
  }